<div class="wallet-card">
    <div class="wallet-header">
        <div class="wallet-info">
            <h2>{{ usuario()?.nome || 'Cliente' }}</h2>
            <p>{{ conta()?.numero ? 'Conta ' + conta()?.numero : 'Conta em carregamento' }}</p>
        </div>
    </div>

    <div class="inner-card">
        <div class="card-circles">
            <div class="circle circle-1"></div>
            <div class="circle circle-2"></div>
        </div>

        <div class="balance-display">
            <div class="balance-amount" [class.negative]="saldoNegativo()">
                @if(isLoadingConta()) {
                ...
                } @else if(errorMessage()) {
                --
                } @else {
                {{ saldoFormatado() }}
                }
            </div>
            <div class="balance-label p-2">Saldo total</div>
            @if(errorMessage()) {
            <div class="balance-label p-2 text-red-300">{{ errorMessage() }}</div>
            } @else {
            <div class="balance-label p-2">Limite {{ limiteFormatado() }}</div>
            }
        </div>
    </div>
</div>
