<div class="wallet-card">
    <div class="wallet-header">
        <div class="wallet-info">
            <h2>{{ usuario()?.nome || 'Cliente' }}</h2>
            <p>{{ conta()?.numero ? 'Conta ' + conta()?.numero : 'Conta em carregamento' }}</p>
        </div>
        <button class="btn-use-wallet">operacoes</button>
    </div>

    <div class="inner-card">
        <div class="card-circles">
            <div class="circle circle-1"></div>
            <div class="circle circle-2"></div>
        </div>

        <div class="balance-display">
            <div class="balance-amount">
                @if(isLoadingConta()) {
                ...
                } @else {
                {{ saldoFormatado() }}
                }
            </div>
            <div class="balance-label p-2">Saldo total</div>
            <div class="balance-label p-2">Limite {{ limiteFormatado() }}</div>
        </div>
    </div>
</div>
