<div class="wallet-card">
    <!-- Cabeçalho -->
    <div class="wallet-header">
        <div class="wallet-info">
            <h2>Saldo</h2>
            <p>Realize operações bancárias</p>
        </div>
        <button class="btn-use-wallet">operações</button>
    </div>

    <!-- Cartão Interno com Saldo -->
    <div class="inner-card">
        <div class="card-circles">
            <div class="circle circle-1"></div>
            <div class="circle circle-2"></div>
        </div>

        <div class="balance-display">
            <div class="balance-amount">
                $4566
            </div>
            <div class="balance-label p-2">Total Saldo</div>
        </div>
    </div>
</div>