<div class="modal-overlay" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">

        <!-- Header do Modal -->
        <div class="modal-header">
            <h2>Editar Gerente</h2>
            <button class="close-button" (click)="closeModal()">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </button>
        </div>

        @if (gerente) {
        <div class="flex flex-col gap-4 p-10">

            <input type="text" [(ngModel)]="gerente.nome" placeholder="Nome">

            <input type="text" [(ngModel)]="gerente.cpf" placeholder="CPF" readonly>

            <input type="email" [(ngModel)]="gerente.email" placeholder="Email">

            <input type="text" placeholder="(00) 00000-0000" maxlength="15" [value]="gerente.telefone || ''"
                (input)="formatTelefone($event.target.value)">

            <input type="password" placeholder="Nova senha (opcional)" [ngModel]="senha()"
                (ngModelChange)="senha.set($event)">

            @if (erro()) {
            <p class="text-red-500 text-sm">{{ erro() }}</p>
            }

            <button class="save-button" (click)="salvarEdicao()" [disabled]="salvando">
                {{ salvando ? 'Salvando...' : 'Salvar gerente' }}
            </button>

        </div>
        }


    </div>
</div>