<header>
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-eclipse-icon lucide-eclipse">
            <circle cx="12" cy="12" r="10" />
            <path d="M12 2a7 7 0 1 0 10 10" />
        </svg>
        Bantads
    </div>

    <nav>

        <a [routerLink]="['/admin/dashboard']" class="menu__link">Dashboard</a>
        <a [routerLink]="['/admin/relatorio-clientes']" class="menu__link">Relatório de Clientes</a>
        <a [routerLink]="['/admin/gerenciar-gerentes']" class="menu__link">Gerenciar Gerentes</a> 
    </nav>


    <div class="relative inline-block">
        <details class="group">
            <summary class="cursor-pointer list-none outline-none">
                <div
                    class="flex items-center gap-3 bg-white/5 hover:bg-white/10 p-1.5 pr-4 rounded-full transition-all border border-white/5">

                    <div
                        class="w-8 h-8 rounded-full bg-purple-500 flex items-center justify-center shadow-lg shadow-purple-500/20">
                        <i class="fas fa-user text-white text-xs"></i>
                    </div>

                    <span class="text-sm font-medium text-gray-300 hidden md:block">
                        ADMIN
                    </span>

                    <i class="fas fa-chevron-down text-[10px] text-gray-500 group-open:rotate-180 transition-transform">
                    </i>
                </div>
            </summary>
            

            <!-- Dropdown -->
            <!-- <div class="z-10 absolute right-0 mt-2  bg-[#0f0f0f] border border-white/10 rounded-xl shadow-xl p-2">

                <a [routerLink]="['/perfil']"
                    class="flex justify-around items-center gap-3 px-4 py-2 text-sm text-gray-300 hover:bg-white/5 rounded-lg transition">

                    Perfil
                </a>

                <hr class="border-white/10 my-2">

                <button
                    class="flex items-center gap-3 px-4 py-2 text-sm text-red-400 hover:bg-red-400/10 rounded-lg transition w-full text-left">

                    Sair
                </button>
            </div> -->
        </details>
    </div>
</header>