<div class="ai-card-minus">
    <div class="ai-card-icon">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 2L13.15 8.85L20 10L13.15 11.15L12 18L10.85 11.15L4 10L10.85 8.85L12 2Z" fill="white" />
            <path d="M19 19L19.5 17L21 16.5L19.5 16L19 14L18.5 16L17 16.5L18.5 17L19 19Z" fill="white" />
            <path d="M5 19L5.5 17L7 16.5L5.5 16L5 14L4.5 16L3 16.5L4.5 17L5 19Z" fill="white" />
        </svg>
    </div>

    <div>
        <h2 class="text-sm">gerente</h2>
        <h3 class="text-lg">{{ meusDados.gerenteId }}</h3>
    </div>

</div>